<!-- <mat-toolbar color="primary">header works!</mat-toolbar> -->
<mat-toolbar>
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>ErLang</span>
  <span class="app-fill-remaining-space"> </span>
  <button mat-icon-button>
    <mat-icon>dark_mode</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>light_mode</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>person_outline</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>manage_accounts</mat-icon>
  </button>
</mat-toolbar>
