<!-- <mat-toolbar color="primary">header works!</mat-toolbar> -->
<mat-toolbar class="app-header-toolbar">
  <button mat-button color="primary" class="app-logo-btn" (click)="onHome()">
    <mat-icon svgIcon="erlang_dog"></mat-icon>
    <span>ErLang</span>
  </button>
  <span class="app-fill-remaining-space"> </span>
  <button mat-icon-button (click)="onChangeTheme()">
    <mat-icon *ngIf="!isDarkTheme">dark_mode</mat-icon>
    <mat-icon *ngIf="isDarkTheme">light_mode</mat-icon>
  </button>
  <button mat-icon-button *ngIf="!isSigned" (click)="onLogin()">
    <mat-icon>person_outline</mat-icon>
  </button>
  <button mat-icon-button *ngIf="isSigned">
    <mat-icon>manage_accounts</mat-icon>
  </button>
</mat-toolbar>
