<mat-nav-list class="app-sidebar-list">
  <mat-list-item>
    <mat-icon
      matListItemIcon
      svgIcon="erlang_projects"
      class="app-nav-item"
    ></mat-icon
    ><span>Projects</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon
      matListItemIcon
      svgIcon="erlang_tasks"
      class="app-nav-item"
    ></mat-icon
    ><span>Sticky Notes</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListItemIcon>today</mat-icon><span>Daily View</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListItemIcon>date_range</mat-icon><span>Weekly View</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon
      matListItemIcon
      svgIcon="erlang_teams"
      class="app-nav-item"
    ></mat-icon
    ><span>Teams</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon
      matListItemIcon
      svgIcon="erlang_calendar"
      class="app-nav-item"
    ></mat-icon
    ><span>Calendar</span>
  </mat-list-item>
</mat-nav-list>
