<div class="app-root-container" [class.app-cyan-dark-theme]="darkTheme">
  <app-header (toggleDarkTheme)="onToggleDarkTheme($event)" (routeToLogin)="onRouteToLogin()"></app-header>
  <mat-sidenav-container class="app-root-sidbar-container">
    <mat-sidenav mode="side" #sidenav>
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
      <main>
        <router-outlet></router-outlet>
      </main>
      <!-- <div>
        <button (click)="sidenav.toggle()">按钮</button>
      </div> -->
      <!-- <app-footer></app-footer> -->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
