.app-login-container {
  height: 100%;
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-login-card {
  width: 400px;
}
.app-login-avatar-icon {
  width: 100%;
  height: 100%;
  font-size: 40px;
  text-align: center;
}
.app-recovery-password-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
